<h1> suh </h1>

<p>
<% @rootnodes.each do |rootnode| %>
  <% if rootnode.children.any? %>
    <details class="indent">
      <summary><%= rootnode.title %></summary>
      <% rootnode.children.each do |node| %>
        <%= showNestedChildren(node, 1) %>
      <% end %>
    </details>
  <% else %>
      <div class="indent"><%= rootnode.title %></div>
  <% end %>
<% end %>
</p>

<details>
  <summary>See More</summary>
  This text will be hidden if your browser supports it.
</details>

