body {
	background-color: black;
	color: white;
}

.indent {
	padding: 1px;
	margin-left: 15px;
}

div.indent {
	display : list-item;
	list-style-type: disc;
	list-style-position: inside;
	padding-left: 0.2em;
}
